@import "layout";
@import "menu";
@import "_vars";
@import "bx_slider";
@import "mybestworks";
@import "blog";
@import "contact";

.invitation {
  padding-bottom: 25px;
  border-bottom: 2px dashed #d1d1d1;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Vijaya";
  text-align: center;
  font-size: 2em;
  color: #838383;
}

.blocks {
  padding-top: 25px;
  padding-bottom: 25px;
}
.left-block {
  max-width: 286px;
  padding-right: 25px;
  border-right: 2px dashed #d1d1d1;
  shadow: 0 0 10px rgba(0,0,0,0.5);
  display: inline-block;
  vertical-align: top;
}
.center-block {
  max-width: 311px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 2px dashed #d1d1d1;
  display: inline-block;
  vertical-align: top;
}
.heading {
  font-family: "Vijaya";
//  font-style: italic;
  font-size: 150%;
  color: #838383;
  margin-bottom: 0%;
}
.right-heading {
  font-family: "Vijaya";
//  font-style: italic;
  font-size: 150%;
  color: #838383;
  margin-bottom: 10%;
}
.subheading {
  font-size: 80%;
}

.right-block {
  max-width: 243px;
  padding-left: 25px;
  display: inline-block;
  vertical-align: top;
}
.mythumbnail {
  width: 46px;
  height: 46px;
  border: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
.link-to-blog {
  color: #505050;
  vertical-align: middle;
  padding-left: 12px;
}
.date-of-blog {
  color: #908f8f;
  font-style: italic;
  font-size: 80%;
  vertical-align: middle;
  padding-left: 60px;
}
.blog-preview {
  display: block;
  margin-bottom: 10px;
}
.blogtitle {
  margin-left: 50%;
}

.my-image {
  float: right;
  padding: 15px;
}
@media (max-width: 767px) {
  .left-block {
    border-right: none;
  }
  .center-block {
    border-right: none;
  }
}

section {
  height: 100vh;
  background-color: transparent;
  position: relative;
}

.section1 {
//  background-image: url("../images/slidebg.jpg");
//  -webkit-background-size: cover;
//  background-size: cover;
}
.section2 {
//  background-image: url("../images/slide4.jpg");
}
.about_me {
//  border: 15px solid #fff;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  display: inline-block;

}
