/*
.nav-container {
  max-width: 70%;
  float: right;
  font-size: 0;
  &__toggle-btn {
    font-size: 40px;
    color: #a1a1a1;
  }
}
*/
.my-navbar-collapse {
  display: block;
}

.menu {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  float: right;
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  &-item {
    font-size: 10px;
    font-style: italic;
    height: @header-height;
    display: inline-block;
    padding: 10px;
  }
  &-link {
    color: #a1a1a1;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;

    &:hover,
    &:focus,
    &.is-active {
      text-decoration: underline;
    }
  }
  .active {
    text-decoration: underline;
    color: black;
    background-color: transparent;
    //  border-bottom: 3px solid black;
  }
}

@media (max-width: 767px) {
  .menu {
    &-item {
      display: block;
      height: auto;
      //      padding: 5px;
    }
    &-link {
      display: block;
      //      line-height: 20px;
      text-align: right;
    }
  }

  .nav-container,
  .nav-container__toggle-btn,
  .menu {
    &:hover,
    &:focus,
    &.is-active {
      .header {
        padding-bottom: 200px;
      }
    }
  }

  /*
    .header {
      padding-bottom: 200px;
    }
    */
}
